<connectionStrings>
	<add name="BancoDeTiempoEntities" connectionString="metadata=res://*/Modelos.DBTimeBankModel.csdl|res://*/Modelos.DBTimeBankModel.ssdl|res://*/Modelos.DBTimeBankModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=BancoDeTiempo;user id=sa;password=Thales25@;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>